<!DOCTYPE html>
<head>
    <title>ADD MEDIA</title>
    <link href="/public/styles/main.css" rel="stylesheet">
</head>
<body>
    <h1 class="title">Add Media</h1>
    <p>What type of media would you like to add?</p>
    <button class="button is-normal">
        Music
        <span class="material-icons">music_note</span>
    </button>
    <button class="button is-normal">
        TV
        <span class="material-icons">tv</span>
    </button>
    <button class="button is-normal">
        Movies
        <span class="material-icons">movie</span>
    </button>
    <button class="button is-normal">
        Podcasts
        <span class="material-icons">podcasts</span>
    </button>
</body>